h2{
  margin: 0 auto;
}

#bgvid{
  position: absolute;
  z-index: -100;
  overflow: hidden;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
#round{
  position: relative;
  left: 41%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
#round img{
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.section {
  font-size: 3em;
  /*font-family: 'Rock Salt', cursive;*/
  font-family: 'Give You Glory', cursive;

  font-weight: lighter;
  text-align: center;
  color: white;
  background-size: cover;
}

#homeSection {
  z-index: -2;
}

#dbg{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;

  margin-bottom: auto;
}
/*  typed -key frame- */
.typed{
  color: white;
  font-family: "Courier";
  font-size: 20px;
  margin-left: 23%;
  white-space: nowrap;
  width: 52%;
  overflow: hidden;
  animation: type 8s steps(60, end);
}

.typed:nth-child(2){
  animation: type2 4s steps(60, end);
}
.typed span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
/*____________________*/

#wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 60px;
  z-index:1;
}

.home{
  position: relative;
  text-align: center;
  z-index: 99;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  left: -60px;
}

#highlight {
  color:  #F95F69;
  /*text-shadow: .25px .5px .2px rgba(255, 255, 255, 0.7);*/
}
#icongroup {
  position: absolute;
  bottom: 10px;
  width: 95%;
  margin: 0 auto;
}
#dopeIcons {
  max-height: 80px;
  margin: 15px;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
}
#dopeIcons:hover {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
}
#altFaves {
  display: none;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-size: .4em;
  letter-spacing: .15em;
}

#myMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  /*background: #27B9E5; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient( #27B9E5, rgba(39, 185, 229, 0) ); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient( #27B9E5, rgba(39, 185, 229, 0 ) ); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient( #27B9E5, rgba(39, 185, 229, 0) ); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient( #27B9E5, rgba(39, 185, 229, 0) ); /* Standard syntax */
}
ul {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  list-style: none;
  display: block;
  text-decoration: none;
}
#myMenu li {
  display: inline-block;
  margin: 10px;
  padding: 0 0 0 10px;
}
#myMenu a {
  text-decoration: none;
  color: rgba(255,255,255,0.4);
}
#myMenu li.active a {
  color: white;
  text-transform: uppercase;
}
p {
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: bolder;
  font-size: .4em;
  line-height: 1.5em;
  letter-spacing: .08em;
}
#sky {
  color: teal;
}
#seafoam {
  color: #7CC8C3;
}
#slate, #slate a {
  color: #B9F7FE;
  text-decoration: none;
}
#yellow, #yellow a {
  color: rgb(255, 236, 112);
  text-decoration: none;
}
#aboutBody {
  text-align: left;
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}
#columnContainer {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  /*border-right: 3px solid white;*/
}
#column1 {
  /*float: left;*/
  width: 80%;
  text-align: center;
  position: relative;
  left: 60%;
  overflow: hidden;
}

#clearColumns a {
  font-family: 'Lato', sans-serif;
  clear: both;
  float: left;
  width: 100%;
  text-decoration: none;
  color: white;
  letter-spacing: .1em;
  font-size: 1.5em;
  margin: 40px 0 0 0;

}
.contactIcons{
  margin: 0 auto;
  bottom: 0;
  border: 1px solid red;
}
.contactIcons a {
  transition: text-shadow 1s ease;
  transition: color 1s ease;
  text-decoration: none;
  color: black;
}
.contactIcons a:hover {
  color: white;
  text-shadow: 7px 7px 10px #7BC3D9;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 2em;
  vertical-align: middle;
  /*margin: 0 20px;*/
}
.fa-2x {
  font-size: 20px;
}
.demophoto {
  width: 40%;
  float: left;
  margin: 0px 40px 20px 20px;
}
.projectBody {
  text-align: left;
  font-size: .35em;
  /*padding: 40px;*/
}

/* ---------------------------------------- */

@media only screen and (max-width: 1000px) {
  /*#dopeIcons {
    max-height: 50px;
    margin: 7px;
  }*/
  #wrapper{
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  h1 , #dbg{
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h5 {
    font-size: 12px;
    margin: 0px;
  }
  p {
    font-size: 13px;
    text-align: left;
  }
  p.centered {
    text-align: center;
  }
  #myMenu {
    height: 50px;
  }
  #myMenu a {
    font-size: 10px;
  }
  #myMenu li {
    margin: 2px;
  }
  #clearColumns a {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
  }
  #aboutBody {
    text-align: left;
    font-size: 9px;
    clear: none;
    float: none;
    width: 80%;
    margin: 0 auto;
  }
  #columnContainer {
    float: none;
    border-right: 0px solid rgb(40, 219, 255);
  }
  #column1 {
    float: none;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 2px solid rgb(40, 219, 255);
  }
  #column2 {
    float: none;
    width: 100%;
    left: 52%;
  }
  .laptop {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  .projectBody {
    font-size: 10px;
  }
  .fp-controlArrow.fp-prev {
    width: 0;
    border-width: 20px 15px 20px 0;
  }
  .fp-controlArrow.fp-next {
    width: 0;
    border-width: 20px 0 20px 15px;
  }
  .fa-stack {
    width: 1.75em;
    height: 1em;
    line-height: 2em;
    margin: 0 10px;
  }
  .fa-2x {
    font-size: .5em;
  }
}
/* ---------------------------------------- */

@media only screen and (max-device-width: 900px) {
  #dopeIcons {
    max-height: 1em;
    margin: .2em;
  }
  h1, #dbg {
    font-size: .8em;
  }
  h5 {
    font-size: .2em;
    margin: 0px;
  }
  p {
    font-size: .22em;
    text-align: left;
  }
  p.centered {
    text-align: center;
  }
  #myMenu {
    height: 5em;
  }
  #myMenu a {
    font-size: .7em;
  }
  #myMenu li {
    margin: .1em;
  }
  #clearColumns a {
    font-size: .25em;
    padding: 0px;
    margin: 10px 0 0 0;
    text-decoration: underline;
  }
  #aboutBody {
    text-align: left;
    font-size: .15em;
    clear: none;
    float: none;
    width: 80%;
    margin: 0 auto;
  }
  #columnContainer {
    float: none;
    border-right: 0px solid rgb(40, 219, 255);
  }
  #column1 {
    float: none;
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 2px solid rgb(40, 219, 255);
  }
  #column2 {
    float: none;
    width: 100%;
    padding: 20px 0 0 0;
    left: 52%;
  }
  .laptop {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  .projectBody {
    font-size: .15em;
  }
  .fp-controlArrow.fp-prev {
    width: 0;
    border-width: 20px 15px 20px 0;
  }
  .fp-controlArrow.fp-next {
    width: 0;
    border-width: 20px 0 20px 15px;
  }
  .fa-stack {
    width: 1.75em;
    height: 1em;
    line-height: 2em;
    margin: 0 10px;
  }
  .fa-2x {
    font-size: .5em;
  }
}
