
body{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
     font-size: 2em;
}

header{
  text-align: center;
}
nav a{
text-decoration: none;
color: black;
font-family: 'Open Sans Condensed', sans-serif;
}

h1{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 4px #808080;
}
.navlink:hover{
  font-size: 45px;
  color: #661a00;
}

*{
  transition: 1.0s ease;
  outline: solid red 1px;
}

img{
  width: 300px;
  height: 300px;
}
.icon{
  width: 25px;
  height: 25px;
}
